/*---------------------------------

  フォントの設定

---------------------------------*/

@font-face{
  font-family: 'M PLUS Rounded 1c';
  src: url('/static/fonts/MPLUSRounded1c-Regular.ttf');
}

/*---------------------------------

  全体(body)のデザイン

---------------------------------*/

body{
    /* 背景色 */
    background-color: #eeeeee;
    /* 文字を中央寄せ */
    text-align: center;
    /* フォント */
    font-family: 'M PLUS Rounded 1c';
}

/*---------------------------------

  メディアクエリ：
  デバイスの横幅によって表示を変えられる

---------------------------------*/

@media screen and (min-width:769px){
  /* PC, タブレット用 */
}

@media screen and (max-width: 768px){
  /* スマホ用 */
}

/*---------------------------------

  タイトルのデザイン

---------------------------------*/

.title {
  background-color: #9cc147;
  color: #eeeeee;
}


/*---------------------------------

  コンテンツのデザイン

---------------------------------*/

.main-content {
  background-color: rgb(214, 43, 214);
  /* 内側の余白 */
  padding: 50px; 
  /* フォントの大きさ(100%は標準の大きさ) */
  font-size: 200%;
  border-radius: 20px;
  box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 1), 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.flex-box {
    /* 内側の余白 */
    padding: 10px;
    /* 横並びで表示 */
    display: flex;
    /* 狭くなったとき、コンテンツを折り返す */
    flex-wrap: wrap;
    /* 中央寄せ */
    justify-content:center;
    line-height: 0.8;
}

.flex-item {
    /* 内側の余白 */
    padding: 10px;
    /* 外側の余白 */
    margin: 10px;
    /* フォントの大きさ(100%は標準の大きさ) */
    font-size: 100%;
    /* 幅の大きさ */
    width: 200px;
    background-color:  #19a0c9;
    border-radius: 10px;
    box-shadow: -10px -10px 20px 0px rgba(255, 255, 255, 1), 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.minutes {
  /* フォントサイズ　*/
  font-size: 150%;
}