<!doctype html>
<html lang="ja">

<!-- 全体のメタデータ(設定)。設定なので、画面には表示されない。 -->
<head>
    <!-- 文字コード -->
	<meta charset="utf-8">
    <!-- デバイスに合わせて大きさを変える -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- タブのタイトル -->
	<title>混雑度チェッカー</title>
    <!-- CSSを持ってくる -->
	<link rel="stylesheet" href="static/css/style.css" media="screen">
</head>

<!-- 画面上に表示される内容 -->
<body>



	<form method="post" class="main-content">
		<div class="main-title">J号館食堂</div>
		<div class="main-minutes">{{count1}}分待ち</div>
		<div class="main-percentage">{{count1}}%</div>
	</form>
	<div class="flex-box">
		<form method="post" class="flex-item">
			<div>2人</div>
			<br>
			<div class="minutes">{{count1}}分</div>
		</form>
		<form method="post" class="flex-item">
			<div>3人</div>
			<br>
			<div class="minutes">{{count1}}分</div>
		</form>
		<form method="post" class="flex-item">
			<div>4人</div>
			<br>
			<div class="minutes">{{count1}}分</div>
		</form>
	</div>



	<form method="post" class="main-content">
		<div class="main-title">Z号館食堂</div>
		<div class="main-minutes">{{count2}}分待ち</div>
		<div class="main-percentage">{{count2}}%</div>
	</form>
	<div class="flex-box">
		<form method="post" class="flex-item">
			<div>2人</div>
			<br>
			<div class="minutes">{{count2}}分</div>
		</form>
		<form method="post" class="flex-item">
			<div>3人</div>
			<br>
			<div class="minutes">{{count2}}分</div>
		</form>
		<form method="post" class="flex-item">
			<div>4人</div>
			<br>
			<div class="minutes">{{count2}}分</div>
		</form>
	</div>

</body>
</html>